/* fonts */
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/montserrat-v18-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v18-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-500 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/oswald-v40-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/oswald-v40-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', 'Oswald', sans-serif;
  font-size: 26px;
}

.container {
  width: 1278px;
  margin: 0 auto;
  /* border: 1px solid green; */
}


.header {
  padding: 31px 0;
  background-color: #66D1FF;
}


.menu ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu li {
  justify-content: space-between;
  align-items: center;
  margin-left: 227px;
}

.menu li:first-child {
  margin-left: 0;
}


.menu li a {
  text-decoration: none;
}

.btn {
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 8px 41px;
  color: #060D10;
  background-color: #fff;
}

.promo {
  padding: 230px 0;
  text-align: center;
  background-image: url(../img/promo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 2px #060D10;
}

.title-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  margin: 60px 190px;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #fff;
  text-shadow: 1px 1px 2px #060D10;
}

.feature {
  padding: 170px 0;
  background-color: rgba(102, 209, 255, .1);
  color: #060D10;
}

.feature-title {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 167%;
  text-align: center;
  text-transform: uppercase;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  list-style: none;
}


.feature-item {
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 33%;
}

.feature-heading {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
}

.feature-desc {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 140%;
}

.order {
  background: linear-gradient(208.35deg, rgba(102, 209, 255, 0.1) 43.85%, rgba(196, 196, 196, 1) 43.86%);
}

.wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.order-title {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 170px;
}
.order a {
  text-decoration: none;
}

.order-btn {
  width: 505px;
  height: 86px;
  text-align: center;
  border: 3px solid #060D10;
  box-sizing: border-box;
  border-radius: 4px;
  color: #000;
  padding: 20px 107px 22px 108px;
  margin-top: 60px;
}


.photo-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.photo-list li {
  margin-top: 130px;
  margin-bottom: 180px;
  justify-content: space-between;
  margin-left: 20px;
}

.photo-list li:first-child {
  margin-left: 0;
}

.footer {
  background-color: #060D10;
  color: #fff;
}

.go {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 167%;
}

.footer-wrap {
  display: flex;
}
.social {
  list-style: none;
}

